.card {
    position: relative;
    display: flex;
    width: 10em;
    height: 15em;
    padding: 10px;
    overflow: hidden;
    border-radius: 6px;
    border: 2px solid #000000;
    cursor: pointer;
} 
